/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++    COLORS   ++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

$primary-color: #ffce57;

$primary-font-color: #000;

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++   FONTS   +++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@font-face {
  font-family: "Kumar One";
  src: local("Kumar One"),
    url("../fonts/Kumar_One/KumarOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Abel";
  src: local("Abel"), url("../fonts/Abel/Abel-Regular.ttf") format("truetype");
}

$font-title: "Kumar One";

$font-nav: "Abel";

html {
  font-size: 20px;
}
