/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++    COLORS   ++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

$primary-color: #ffce57;

$primary-font-color: #000;

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++   FONTS   +++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@font-face {
  font-family: "Kumar One", cursive;
  src: local("Kumar One"), url("../fonts/Kumar_One/KumarOne-Regular.ttf");
}

$font-nav: "Kumar One";

html {
  font-size: 20px;
}
