@use "./index";

$burger-lineheight: 0.15rem;
$burger-folding-time: 400ms;

/* ++++++++++++++++++++++++++++++ to CROSS Menu ++++++++++++++++++++++++++++ */
@keyframes toptomiddle {
  0% {
    top: $burger-lineheight;
    transform: rotate(0deg);
  }
  50% {
    top: calc(#{$burger-lineheight} * 4);
    transform: rotate(0deg);
  }
  100% {
    top: calc(#{$burger-lineheight} * 4);
    transform: rotate(45deg);
  }
}

@keyframes middledisappear {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes bottomtomiddle {
  0% {
    top: calc(#{$burger-lineheight} * 7);
    transform: rotate(0deg);
  }
  50% {
    top: calc(#{$burger-lineheight} * 4);
    transform: rotate(0deg);
  }
  100% {
    top: calc(#{$burger-lineheight} * 4);
    transform: rotate(-45deg);
  }
}

/* +++++++++++++++++++++++++++++ to FLATTEN Menu +++++++++++++++++++++++++++ */
@keyframes toptotop {
  100% {
    top: $burger-lineheight;
    transform: rotate(0deg);
  }
  50% {
    top: calc(#{$burger-lineheight} * 4);
    transform: rotate(0deg);
  }
  0% {
    top: calc(#{$burger-lineheight} * 4);
    transform: rotate(45deg);
  }
}

@keyframes middleappear {
  100% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  0% {
    visibility: hidden;
  }
}

@keyframes bottomtobottom {
  100% {
    top: calc(#{$burger-lineheight} * 7);
    transform: rotate(0deg);
  }
  50% {
    top: calc(#{$burger-lineheight} * 4);
    transform: rotate(0deg);
  }
  0% {
    top: calc(#{$burger-lineheight} * 4);
    transform: rotate(-45deg);
  }
}

.burgermenu {
  position: fixed;
  right: 5%;
  top: 3%;
  z-index: calc(999999 + 1);

  &--button {
    height: calc(#{$burger-lineheight} * 10);
    width: calc(#{$burger-lineheight} * 11);
  }

  &--line {
    height: $burger-lineheight;
    width: calc(#{$burger-lineheight} * 11);
    position: absolute;
    background-color: index.$primary-font-color;

    &:nth-child(1) {
      top: $burger-lineheight;
      &.crossed {
        animation: toptomiddle $burger-folding-time ease-in forwards;
      }
      &.flat {
        animation: toptotop $burger-folding-time ease-in forwards;
      }
    }

    &:nth-child(2) {
      top: calc(#{$burger-lineheight} * 4);
      &.crossed {
        animation: middledisappear $burger-folding-time ease-in forwards;
      }
      &.flat {
        animation: middleappear $burger-folding-time ease-in forwards;
      }
    }

    &:nth-child(3) {
      top: calc(#{$burger-lineheight} * 7);

      &.crossed {
        animation: bottomtomiddle $burger-folding-time ease-in forwards;
      }
      &.flat {
        animation: bottomtobottom $burger-folding-time ease-in forwards;
      }
    }
  }
}
